.App {
  text-align: center;
  background-color: #0b657e;
  background-image: url("img/alaa (2).jpg");
}
.App input  {
  border-radius : 50px ;
  margin : 8px;
  border : 2px solid rgb(39, 22, 22);
  box-sizing: border-box;
  margin : 8px auto ;
  width:20%;
  outline: none;
  padding: 4px;
  transition : 10px;

}
.App input:focus {
  border-color: rgb(61, 6, 6);
  box-shadow: 0 0 8px 0 black;
}

.title {
  color: blue;
  font-family: fantasy;
  font-size: medium;
}
.App :hover .title {
  color: red;
}


